/*
Theme Name: Grund
Theme URI: http://www.westling.ax/
Author: Johan Westling
Author URI: http://www.westling.ax/
Description: A base theme for wordpress site development.
Version: 1.0
Tags: html5, base, usability
Text Domain: grund
*/

//
//	REM
//

$rem-value: 10px;

//
//	MIXINS
//

@import "./assets/scss/_mixins.scss";

//
//	COLOR
//

$color-brand-primary: #4166AA;
$color-brand-secondary: #003363;
$color-brand-tertiary: #658AC7;
$color-text-primary: #000000;
$color-text-secondary: #808080;
$color-text-tertiary: #616161;
$color-text-quaternary: #cacaca;

//
//	TYPOGRAPHY
//

@import "./assets/scss/_typography.scss";

//
//	COMPONENTS
//

@import "./assets/scss/_components.scss";

//
//	BASE
//

html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-size: $rem-value;
	line-height: 1;
}

body {
	//background: url(assets/img/grid.png) 0 0 repeat;
	padding: 0;
	margin: 0;

	font-family: $typo-face;
	@include typo-size;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

h1 {
	padding: 2rem 0 1rem;
	margin: 0;

	@include typo-size(l);
	@include typo-weight(xb);
}

h2 {
	padding: 3.4rem 0 1rem;
	margin: 0;

	@include typo-size(l);
	@include typo-weight(l);
}

h3 {
	padding: 2rem 0 1rem;
	margin: 0;

	@include typo-size(m);
	@include typo-weight(l);
}

h4,
h5,
h6 {
	padding: 2rem 0 1rem;
	margin: 0;

	@include typo-size;
	@include typo-weight(b);
}

p {
	padding: 2rem 0 1rem;
	margin: 0;
}

a {
	@include link($color-brand-primary, lighten($color-brand-primary, 15%));
	font-size: inherit;
	line-height: inherit;
}

form {
	padding: 0;
	margin: 0;

	.aligncenter {
		width: 70%;
		min-width: 50%;
		max-width: 30rem;
		height: auto;
		margin: 2rem auto 1rem;
		display: block;
	}
}

input {
	font-family: inherit;
	@include input;
}

textarea {
	font-family: inherit;
	@include textarea;
}

input[type=button],
input[type=submit],
button {
	font-family: inherit;
	@include button;
}

//
//	LAYOUT
//

@import "./assets/scss/_layout.scss";

//
//	LOGO
//

@import "./assets/scss/_logo.scss";

//
//	NAVIGATION
//

@import "./assets/scss/_navigation.scss";

//
//	ARTICLES
//

@import "./assets/scss/_articles.scss";

//
//	HEROES
//

.heroes {
	max-height: 42rem;
	padding: 0;
	margin: 0;
	overflow: hidden;

	position: relative;

	&:after {
		content: " ";

		width: 0;
		min-height: 32rem;
		padding-bottom: 40%;
		display: block;
		float: right;
		overflow: hidden;

		position: relative;
		z-index: 10;
	}
}

.heroes__list {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.heroes__controls {
	width: 100%;
	max-height: 4.4rem;
	padding: 0;
	margin: 0;

	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;

	.layout__container {
		padding: 0;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
	}
}

.heroes__slides {
	padding: 0;
	margin: 0 1rem;
	list-style: none;
	overflow: hidden;
	flex: 0 0 auto;

	@media (min-width: 640px) {
	}
}

.heroes__indicator {
	width: 3rem;
	height: 4.2rem;
	padding: 0;
	margin: 0;
	display: block;
	float: left;

	button {
		width: 1.6rem;
		height: 1.6rem;
		background: transparent url(./assets/img/Slider_Inactive.svg) center center no-repeat;
		background-size: contain;
		padding: 0;
		border: none;
		margin: 1.3rem auto;
		display: block;
		overflow: hidden;

		text-indent: -999rem;

		transition: background .3s ease-in-out;

		&:hover {
			background-image: url(./assets/img/Slider_Inactive.svg);
		}
	}
}

.heroes__indicator--active {
	@extend .heroes__indicator;

	button {
		background-image: url(./assets/img/Slider_Active.svg);

		&:hover {
			background-image: url(./assets/img/Slider_Active.svg);
		}
	}
}

.heroes__prev,
.heroes__next {
	flex: 0 0 auto;
	background: transparent;

	@include typo-size(s);

	&:hover {
		background: transparent;
	}
}

.heroes__prev {
	margin-left: auto;
}

.heroes__next {
	margin-right: auto;
}

// Hero
.hero {
	background: $color-text-quaternary center center no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	text-align: center;

	opacity: 0;
	transition: all .3s ease-in-out;

	.layout__container {
		margin-bottom: 6rem;
	}
}

.hero--show {
	@extend .hero;

	opacity: 1;
	z-index: 2;
}

.hero__headline {
	text-shadow: 0 .1rem 0 rgba(0,0,0,.5);
	color: white;
}

//@import "./assets/scss/_heroes.scss";

//
//	BUCKETS
//

@import "./assets/scss/_buckets.scss";

//
//	WIDGETS
//

@import "./assets/scss/_widgets.scss";
