//
//	ARTICLES
//

.articles {
	width: 100%;
	padding: 3rem 0;
	margin: 0;

	@media (min-width: 960px) {
		max-width: 62%;
	}
}

.articles__headline {
	padding: 0;
	margin: 0 0 2rem;

	@include typo-size(xl);
	@include typo-weight(l);
}

.articles__list {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		padding: 0;
		margin: 0 0 2rem;

		& + li {
			padding-top: 2rem;
			border-top: .1rem solid $color-text-quaternary;
		}
	}
}

// Article
.article {
	padding: 0;
	margin: 0;
}

.article__date {
	padding: 0;
	margin: 0;

	@include typo-size(s);
	color: $color-text-secondary;
}

.article__headline {
	padding: 0;
	margin: 0;

	@include typo-size(xl);
	@include typo-weight(l);

	a {
		@include link($color-brand-secondary, $color-brand-primary);
		font-size: inherit;
		line-height: inherit;
	}
}

.article__excerpt {
	padding: 0;
	margin: 0;

	p {
		padding-top: .3rem;
	}
}

.article__content {
	padding: 0;
	margin: 0;

	form {
		width: 100%;
		max-width: 35rem;
		padding: 0;
		margin: 2rem 0;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
	}
}

.article__read-more {
	white-space: nowrap;
}

.article__options {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	a {
		max-width: 45%;
		margin: 0;
		display: block;
		overflow: hidden;
		flex: 1 1 auto;

		position: relative;

		text-overflow: ellipsis;
		white-space: nowrap;

		&:before {
			display: block;

			position: absolute;
			top: 50%;

			transform: translateY(-50%);
		}
	}

	a[rel=prev] {
		padding-left: 2rem;

		&:before {
			content: "< ";
			left: 0;
		}
	}

	a[rel=next] {
		padding-right: 2rem;

		&:before {
			content: " >";
			right: 0;
		}
	}
}

// Page
.article--page {
	@extend .article;
}

// Page preview
.article--page-preview {
	@extend .article--page;

	.article__headline {
		@include typo-size(m);
		@include typo-weight(xb);
	}
}

// Post
.article--post {
	@extend .article;
}

// Post preview
.article--post-preview {
	@extend .article--post;

	.article__headline {
		@include typo-size(m);
		@include typo-weight(xb);
	}
}
