//
//	BUCKETS
//

.buckets {
	width: 100%;
	padding: 3rem 0;
	margin: 0;
}

.buckets__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	list-style: none;

	li {
		padding: 0;
		margin: 0 0 2rem;
	}

	@media (min-width: 640px) {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: stretch;

		li {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			flex: 0 0 47%;

			&:first-child {
				flex: 0 0 100%;
			}
		}
	}

	@media (min-width: 960px) {
		flex-flow: row nowrap;

		li {
			flex: 0 0 31%;

			&:first-child {
				flex: 0 0 31%;
			}
		}
	}
}

// Bucket
.bucket {
	max-width: 100%;
	min-height: inherit;
	padding: 0;
	margin: 0 auto 2rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	flex: 1 1 auto;

	@include typo-size(s);
	text-align: center;
	color: $color-text-tertiary;

	@media (min-width: 960px) {
		margin-bottom: 0;
	}
}

.bucket__header {
	padding: 0 0 .4rem;
	border-bottom: .1rem solid $color-text-quaternary;
	margin: 0 0 .5rem;
	flex: 0 0 auto;
}

.bucket__headline {
	padding: 0;
	margin: 0;

	@include typo-size(m);
	@include typo-weight(l);
}

.bucket__content {
	min-width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	flex: 1 0 auto;

	form {
		margin-top: auto;
		flex: 0 0 auto;

		input {
			width: 100%;
			display: block;
		}

		button {
			width: 100%;
			max-width: 32rem;
			display: block;
		}
	}
}
