//
//	COMPONENTS
//

@mixin container {
	width: 92.5%;
	max-width: 115rem;
	padding: 0;
	margin: 0 auto;
	display: block;

	@media (min-width: 481px) {
		width: 90%;
	}

	@media (min-width: 1025px) {
		width: 85%;
	}
}

@mixin link($link-color, $link-color-hover){
	text-decoration: none;
	color: $link-color;

	cursor: pointer;

	transition: color .3s ease-in-out;

	&:hover {
		color: $link-color-hover;
	}
}

@mixin input(){
	padding: 1rem 1.6rem;
	padding-left: 0;
	border-radius: .3rem;
	border: .1rem solid $color-text-quaternary;
	margin: 1.2rem 0 0;

	@include typo-size(s);
	text-indent: 1.6rem;
	color: $color-text-secondary;
}

@mixin textarea(){
	padding: .8rem 1.6rem 1rem;
	border-radius: .3rem;
	border: .1rem solid $color-text-quaternary;
	margin: 1.2rem 0 0;

	@include typo-size(s);
	color: $color-text-secondary;
}

@mixin button($button-color: $color-brand-primary){
	$color-top: lighten($button-color, 5%);
	$color-bottom: darken($button-color, 5%);

	@include gradient($color-top, $color-bottom);

	padding: .8rem 3rem 1rem;
	border: none;
	border-radius: .3rem;

	@include typo-size(m);
	text-shadow: .1rem .1rem 0 rgba(0,0,0,.08);
	text-indent: 0;
	color: white;

	cursor: pointer;

	transition: color .3s ease-in-out;

	&:hover {
		@include gradient(lighten($color-top, 10%), lighten($color-bottom, 10%));
		transition: color .15s ease-in-out;
	}

	&:active {
		@include gradient(lighten($button-color, 5%), lighten($button-color, 5%));
	}
}
