//
//	LAYOUT
//

.layout {
	padding: 0;
	margin: 0;
}

.layout__container {
	@include container;
}

.layout__container--flex {
	@extend .layout__container;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	@media (min-width: 960px) {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}

// Header
.header {
	width: 100%;
	background: white;
	padding: 0;
	box-shadow: 0 .1rem 0 rgba(0,0,0,.08);
	margin: 0;
	display: flex;
	justify-content: space-between;

	position: relative;
	z-index: 10;

	color: white;

	@media (min-width: 1025px) {
		background: $color-brand-primary;
	}

	div {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		@media (min-width: 1025px) {
			@include container;
		}
	}
}

// Content
.content {
	padding: 3rem 0;
	margin: 0;

	.widgets {
		@media (min-width: 960px) {
			max-width: 31%;
			margin-left: auto;
		}
	}

	.widgets__list {
		@media (min-width: 960px) {
			padding-top: 1.2rem;
		}
	}
}

// Footer
.footer {
	width: 100%;
	background: $color-brand-primary;
	padding: 1rem 0;
	margin: 0;

	color: white;

	a {
		@include link(white, mix(white, $color-brand-tertiary));
		@include typo-weight(b);
	}

	.widgets__list {
		@media (min-width: 720px) {
			overflow: hidden;

			li {
				width: 47%;
				float: left;

				&:last-child {
					float: right;
					text-align: right;
				}
			}
		}
	}

	.widget__headline {
		padding-bottom: 0;
		border-bottom: none;
		margin-bottom: 2rem;

		@include typo-size(l);
	}
}
