//
//	LOGO
//

.logo {
	width: auto;
	margin: 0;
	display: block;
	overflow: hidden;

	text-decoration: none;
	color: inherit;

	&--small {
		padding: .9rem .9rem .2rem;
		display: block;

		img {
			height: 3rem;
		}
	}

	&--large {
		padding: 1.8rem 0rem 2.6rem;
		display: none;

		img {
			height: 8.8rem;
		}
	}

	img {
		width: auto;
		border: none;
		margin: 0;
		display: block;
	}

	@media (min-width: 1025px) {
		&--small {
			display: none;
		}

		&--large {
			display: block;
		}
	}
}
