//
//	MIXINS
//

@mixin gradient($color-top, $color-bottom){
	background-color: $color-top;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color-bottom), to($color-top));
	background: -webkit-linear-gradient(top, $color-top, $color-bottom);
	background: -moz-linear-gradient(top, $color-top, $color-bottom);
	background: -ms-linear-gradient(top, $color-top, $color-bottom);
	background: -o-linear-gradient(top, $color-top, $color-bottom);
}
