//
//	NAVIGATION
//

.navigation {
	width: 100%;
	background: white;
	padding: 0;
	margin: 0;
	margin-top: -.3rem;

	position: relative;
	z-index: 9;

	@media (min-width: 1025px) {
		box-shadow: 0 .1rem 0 rgba(0,0,0,.08);
	}
}

// Toggle
.navigation__toggle {
	width: 4.8rem;
	height: 4.8rem;
	background: white;
	padding: 0 1rem;
	border: none;
	border-radius: 0;
	margin: 0;
	overflow: hidden;

	position: relative;

	cursor: pointer;

	transition: background .3s ease-in-out;

	&:before {
		content: "";

		width: 1.8rem;
		height: 1.8rem;
		background: transparent url(./assets/img/Hamburger.svg) center center no-repeat;
		background-size: contain;
		display: inline-block;
	}

	&:hover {
		background: #f2f2f2;
	}

	&--expanded,
	&--expanded:hover {
		background: $color-brand-primary;

		&:before {
			background-image: url(./assets/img/Hamburger_Active.svg);
		}
	}

	// Hide mobile navigation toggle.
	@media (min-width: 1025px) {
		display: none;
	}
}

// List
.navigation__list {
	width: 100%;
	max-height: 80vh;
	background: white;
	padding: 0;
	box-shadow: 0 0.1rem 0 .1rem rgba(0,0,0,.08);
	margin: 0 auto;
	list-style: none;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;

	position: absolute;
	bottom: 0;
	left: 0;

	transition: transform .2s cubic-bezier(0.7, 0.0, 0.0, 0.7);

	color: $color-text-primary;

	&--expanded {
		transform: translateY(100%);
	}

	// Disable mobile navigation.
	@media (min-width: 1025px) {
		@include container;

		box-shadow: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;

		position: relative;
		bottom: auto;

		&--expanded {
			transform: translateY(0%);
		}
	}
}

// Items
.navigation__item {
	min-width: 100%;
	padding: 0;
	margin: 0;
	display: block;
	flex: 0 0 auto;

	& + & {
		border-top: .1rem solid $color-text-quaternary;
	}

	&.right {
		margin-left: auto;
	}

	a {
		background-color: white;
		padding: 1.2rem 2.5rem;
		display: block;

		position: relative;

		@include link($color-text-primary, lighten($color-text-primary, 5%));
		@include typo-size(s);
		text-transform: uppercase;
		text-align: center;

		transition: background-color .3s ease-in-out;

		&:hover {
			background-color: #f2f2f2;
		}
	}

	// Disable mobile navigation.
	@media (min-width: 1025px) {
		min-width: initial;
	}
}

.navigation__item--current {
	@extend .navigation__item;

	color: $color-brand-tertiary;

	a {
		&:after {
			content: "";

			width: .4rem;
			background: $color-brand-tertiary;
			display: block;
			overflow: hidden;

			position: absolute;
			top: 0;
			right: auto;
			bottom: 0;
			left: 0;

			// Disable mobile navigation.
			@media (min-width: 1025px) {
				width: auto;
				height: .4rem;

				top: auto;
				right: 0;
			}
		}
	}
}

.navigation__item--parent {
	@extend .navigation__item--current;
}

.navigation__item--ancestor {
	@extend .navigation__item--current;
}

// Sub menu
.navigation__item__children {
	padding: 0;
	margin: 0;
	margin-left: 1rem;
	list-style: none;
}
