//
//	TYPOGRAPHY
//

@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300,400italic);

$typo-face: 'Lato', sans-serif;

//
//	TYPOGRAPHY SIZE
//

@mixin typo-size($size: false){
	$font-size: 2rem;
	$line-height: 3rem;

	@if $size == xl {
		$font-size: 4.2rem;
		$line-height: 1;
	}
	@else if $size == l {
		$font-size: 3.6rem;
		$line-height: 1;
	}
	@else if $size == m {
		$font-size: 2.4rem;
		$line-height: 3rem;
	}
	@else if $size == s {
		$font-size: 1.6rem;
		$line-height: 2.4rem;
	}

	font-size: $font-size;
	line-height: $line-height;
}

//
//	TYPOGRAPHY WEIGHT
//

@mixin typo-weight($weight){
	@if $weight == xb {
		font-weight: 900;
	}
	@else if $weight == b {
		font-weight: 700;
	}
	@else if $weight == l {
		font-weight: 300;
	}
	@else {
		font-weight: 400;
	}
}
