//
//	WIDGETS
//

.widgets {
	width: 100%;
	padding: 3rem 0;
	margin: 0;
}

.widgets__list {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		padding: 0;
		margin: 0 0 3rem;

		& + & {
			padding-top: 3rem;
			border-top: .1rem solid $color-text-quaternary;
		}
	}
}

// Widget
.widget {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		padding: 0;
		margin: 0;

		& + li {
			margin-top: 1rem;
		}
	}
}

.widget__headline {
	padding: 0 0 .5rem;
	border-bottom: .1rem solid $color-text-quaternary;
	margin: 0 0 2rem;

	@include typo-size(m);
	@include typo-weight(l);
}

// Text widget
.textwidget {
	p:first-child {
		padding-top: 0;
	}
}


// Search
.search {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.search__field {
	height: 4.6rem;
	border-right-color: transparent;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0;
	flex: 1 1 auto;

	line-height: 4.6rem;
}

.search__button {
	width: 4.6rem;
	height: 4.6rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin: 0;
	overflow: hidden;

	position: relative;

	line-height: 4.6rem;

	img {
		width: auto;
		height: 50%;

		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}
}

// Twitter
iframe#twitter-widget-0 {
	margin: 0 auto;
	display: block !important;
}
